<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companion - 一伴社区</title>
    <script src="js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/companion.css">
    <script src="js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index">Companion  一伴社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索内容">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="glyphicon glyphicon-plus dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  发起  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="publish">问题</a></li>
                        <li><a href="#">文章</a></li>
                    </ul>
                </li>
                 <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}"><a href="https://github.com/login/oauth/authorize?client_id=dabab0490855eedba795&redirect_uri=http://localhost:8080/myCommunity/callback&scope=user&state=1">登录</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 遍历集合，如果被遍历的变量 questionList 为 null 或者不存在，则不会进行遍历，也不报错-->
<div class="container-fluid main">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <h2><span class="glyphicon glyphicon-list" aria-hidden="true">发现</span></h2>
        <hr>
        <div th:each="question : ${questionList}">
            <div class="media questionListRow">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.getUser().getAvatar_url()}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.getTitle()}"></h4>
                    发布人:<a th:text="${question.getUser().getName()}" href="javascript:void(0)"></a><span class="text_desc"> <span th:text="${question.getComment_count()}"></span> 个评论 • <span th:text="${question.getView_count()}"></span> 次浏览 • <span th:text="${question.getGmt_create()}"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <br>
        <h4>问题发起指南</h4>
        • 问题标题: 请用精简的语言描述您发布的问题，不超过25字
        <br>
        • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：
        <br>
        服务器运行环境信息；<br>
        软件版本；<br>
        问题发生的上下文信息；<br>
        可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；<br>
        补充完整的异常和错误信息；<br>
        注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；<br>
        • 选择标签: 选择一个或者多个合适的标签，不超过10个字 <br>
        • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能. <br>
    </div>

</div>
</body>
</html>